<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" allowedVersions="" />
  <package id="OpenCvSharp4.Windows" version="4.7.0.20230115" allowedVersions="" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="netstandard2.0" allowedVersions="" />
  <package id="OpenCvSharp4" version="4.7.0.20230115" targetFramework="netstandard2.0" allowedVersions="" />
  <package id="OpenCvSharp4.runtime.win" version="4.7.0.20230115" allowedVersions="" />
  <package id="DlibDotNet" version="19.21.0.20220724" targetFramework="netstandard2.0" allowedVersions="" />
</packages>